/* ==========================================
  ================= IMPORTS ================= */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;600&family=Roboto+Flex:opsz,wght@8..144,300;8..144,400;8..144,500;8..144,700&display=swap");

/* ==========================================
  ============== CSS VARIABLES ============= */
:root {
  --cur-arrow: url("../images/ico/arrow.png");
  --cur-point: url("../images/ico/pointer.png");

  --bkg: #f5fbfc;

  --color-primary: #232f49;
  --color-accent: #ffd740;
  --color-light: #ffffff;
  --color-prim-overlay: #232f497c;

  --font-raleway: 'Raleway', sans-serif;
  --font-robofx: 'Roboto Flex', sans-serif;
}

/* ==========================================
  ============== BODY ============= */
body {
  background: var(--bkg);
  font-family: var(--font-raleway);
}

* {
  cursor: var(--cur-arrow), auto !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-robofx);
  font-weight: bolder;
}

p {
  color: var(--color-primary);
}

footer.page-footer {
  margin: 10% 0 0 0;
}

footer a,
.btn {
  cursor: var(--cur-point), auto !important;
}


/* ==========================================
  ============== NAV ============= */
.nav * {
  margin: 0;
}

.nav {
  padding: auto;
  background-color: transparent;
}

.sidebar {
  background-color: var(--color-light);
}

.sidebar li a {
  color: var(--color-primary);
}

/* ==========================================
  ============== MATERIALIZE ============= */
/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com*/

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}
/* ========================================= */

/* ==========================================
  ============== HERO ============= */
.pic-container {
  display: flex;
  align-items: start;
  justify-content: center;
}

.profile-pic {
  margin-top: 20px;
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center center;
  border-radius: 60% 80% 100% 40% / 100% 70% 80% 50%;
  box-shadow: 2px 10px 20px 1px rgba(0, 0, 0, 0.583);
}

.hero {
  padding: 1px;
}

.title {
  color: var(--color-primary);
  font-family: var(--font-robofx);
  font-size: 120px;
  margin-top: 40px;
  margin-bottom: 30px;
}


.link {
  color: var(--color-primary);
  cursor: var(--cur-point), auto !important;
  font-family: var(--font-robofx);
}

.btn-contact {
  background-color: var(--color-accent);
  cursor: var(--cur-point), auto !important;
  color: var(--color-primary);
}

.btn-contact:hover {
  background-color: var(--color-primary);
  color: var(--color-accent);
}

/* ==========================================
  ============== FLOAT BUTTON ============= */
.oculto {
  display: none;
  cursor: var(--cur-point), auto !important;
}

.btn-float {
  background-color: var(--color-accent) !important;
  cursor: var(--cur-point), auto !important;
}



/* ==========================================
  ============== INDEX MAIN ============= */

/* ABOUT */
.about-text {
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  text-align: justify;
}

.section-about {
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.profession {
  text-transform: uppercase;
  font-family: var(--font-robofx);
  color: var(--color-primary) !important;
  font-weight: bold !important;
  font-size: 15px !important;
  color: var(--color-prim-overlay);
}

.ghrepo {
  cursor: var(--cur-point), auto !important;
}

.ghrepo:hover {
  background-color: rgba(255, 255, 255, 0.379);
  border-radius: 50%;
  box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.648);
}

.icon-skill {
  font-size: 10px;
  text-align: center;
}

.icon-skill-icon {
  font-size: 80% !important;
  text-align: center;
}

.hskill {
  font-size: 13px !important;
}

.amber-waves:hover {
  background-color: var(--color-accent);
}

.prev-nex {
  margin-top: 100px;
}

/* ==========================================
  ============== FORMATION MAIN ============= */
.formal {
  font-size: 12px;
}

.title-name {
  font-size: 18px;
  color: rgb(7, 53, 90) !important;
  cursor: var(--cur-point), auto !important;
  font-family: var(--font-robofx);
}

.curso:hover,
.curso:active,
.cursos div ul:hover {
  background-color: var(--color-accent);
  color: var(--color-light) !important;
  border-radius: 5px;
  transform: scale(105%);
  transition: all 100ms;
}

.formal ul {
  cursor: var(--cur-point), auto !important;
}

.formal:hover,
.formal-section div ul:hover {
  background-color: var(--color-prim-overlay);
  color: #eff9ea !important;
}


a {
  cursor: var(--cur-point), auto !important;
}





/* ==========================================
  ============== MEDIA SCREEN============= */

@media screen and (max-width: 440px) {
  .title {
    font-size: 100px;
  }

  .about-text {
    font-size: 17px;
    line-height: 25px;
    font-weight: bold;
    text-align: justify;
  }
}